# Ignore node_modules in backend and frontend folders
/backend/node_modules
/frontend/node_modules

# Optionally ignore any other node_modules folder anywhere in the project
**/node_modules/

/backend/.env
